<h1>Create New Word</h1>
<%= form_for @entry do |f| %>

  <p>
    Word: <%=f.text_field :word%>
  </p>
  <p>
    Language: <%=f.text_field :language%>
  </p>

  <p>
    Word: <%=f.text_field :definition%>
  </p>

<%end %>
